@import '../styles/variables';

.filterIcon {
  padding-right: 32px;
  margin-left: 12px;
  margin-bottom: 4px;
  margin-top: 8px;
  background-color: #f7f7f7;
  color: #444;
}


.filterIconTransform {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}