.action_bar {
  margin-top: 8px;
  position: absolute;
  width: 100%;
  bottom: 5px;
  vertical-align: bottom !important; }

.action_bar_small {
  margin-top: 8px;
  position: absolute;
  width: 100%;
  bottom: 5px;
  vertical-align: bottom !important; }

.action_text {
  font-size: 18px;
  text-align: right;
  vertical-align: bottom;
  padding-top: 8px; }

.action_up {
  color: rgba(0, 153, 0, 0.6); }

.action_debate {
  color: #9e9e9e; }

.action_down {
  color: rgba(153, 0, 0, 0.6); }
