node_modules
*node_modules/*
server_api/config/config.json
server_api/test/temp
server_api/bin/uploads
.sass-cache
app/bower_components
webApps/old/clientApp/bower_components
.tmp
test/bower_components/
webApps/old/clientApp/bower_components.safe/
projectFilesBackup/
.idea/*
.jshintrc
.yo-rc.json
.editorconfig
server_api/uploads/


