node_modules
*node_modules/*
server_api/config/config.json
server_api/test/temp
server_api/bin/uploads
.sass-cache
app/bower_components
client_app/bower_components
client_app_p3/bower_components
client_app/bower_components.p1
.tmp
test/bower_components/
client_app/bower_components.safe/
projectFilesBackup/
.idea/*
.jshintrc
.yo-rc.json
.editorconfig
server_api/uploads/
platoReport/
passport-sso/
