doctype html
html(lang='en')
    head
        title Login Success
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    body
        script(type='text/javascript').
            var iOSInApp = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream && /FBAN/.test(navigator.userAgent);
            if (iOSInApp) {
                window.location = "/";
            } else {
                try {
                    window.opener.postMessage("samlLogin","*");
                    window.close();
                } catch (err) {
                   window.close();
                }
            }


