// Color Palette
// http://www.google.com/design/spec/style/color.html

// OLD
/*
$primary-color: #9E9E9E;
$primary-color-lighter: #E0E0E0;
$primary-color-darker: #616161;
$primary-color-more-darker: #424242;
*/

$primary-color: #616161;
$primary-color-lighter: #9E9E9E;
$primary-color-darker: #424242;
$primary-color-more-darker: #222222;

$accent-color: #FF9800;
$accent-color-lighter: #FFB74D;
$accent-color-darker: #F57C00;
$accent-color: #FF9800;
$accent-color-transparent: rgba(162,162,162,0.5); // rgba(255,152,0,0.5);

$primary-up-color: rgba(0,153,0,1);
$primary-down-color: rgba(153,0,0,1);

$primary-up-color-bit-lighter: rgba(0,153,0,1);
$primary-down-color-bit-lighter: rgba(153,0,0,0.85);

$primary-up-color-lighter: rgba(0,153,0,0.55);
$primary-down-color-lighter: rgba(153,0,0,0.55);

$primary-up-color-medium-lighter: rgba(0,153,0,0.75);
$primary-down-color-medium-lighter: rgba(153,0,0,0.75);

$primary-up-color-more-lighter: rgba(0,153,0,0.42);
$primary-down-color-more-lighter: rgba(153,0,0,0.42);

$darkest-color: #000000;
$dark-text: rgba($darkest-color, 0.87);
$dark-text-secondary: rgba($darkest-color, 0.54);
$dark-text-disabled: rgba($darkest-color, 0.26);
$dark-text-dividers: rgba($darkest-color, 0.12);

$lightest-color: #FFFFFF;
$light-text: rgba($lightest-color, 1);
$light-text-secondary: rgba($lightest-color, 0.7);
$light-text-disabled: rgba($lightest-color, 0.3);
$light-text-dividers: rgba($lightest-color, 0.12);

// Metrics & keylines
// http://www.google.com/design/spec/layout/metrics-keylines.html

$baseline: 8px;
$type-baseline: 4px;
$icon-toolbar-baseline: 4px;

$padding-horizontal: $baseline * 2;  // 16px
$margin-horizontal: $padding-horizontal; // 16px

$fab-size: 56px;  // Useful when you need to position the fab half over something
