/*
$primary-color: #616161;
$primary-color-lighter: #9E9E9E;
$primary-color-darker: #424242;
$primary-color-more-darker: #222222;
*/
/*
$primary-color: #616161;
$primary-color-lighter: #616161;
$primary-color-darker: #222222;
$primary-color-more-darker: #000;
*/
.card-container {
  text-align: center;
  padding-top: 16px; }

.card {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  width: 400px;
  height: 240px;
  margin: 16px;
  padding: 16px;
  border-radius: 2%;
  text-align: left;
  vertical-align: top; }

.createIdea {
  background-color: #f57c00;
  position: fixed;
  bottom: 24px;
  right: 28px; }

@media (max-width: 500px) {
  .card {
    width: 320px;
    height: 250px; } }
