.card-container {
  text-align: center; }

.card {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  width: 400px;
  height: 240px;
  margin: 16px;
  padding: 16px;
  border-radius: 2%;
  text-align: left;
  vertical-align: top; }

.createIdea {
  background-color: #f57c00;
  position: fixed;
  bottom: 24px;
  right: 28px; }

@media (max-width: 500px) {
  .card {
    width: 320px;
    height: 250px; } }
