<% include ../header.html.ejs %>

<p><%= t('notification.email.reset_password_1') %></p>
<p>
  <%= "https://"+community.hostname+'.'+domain.domain_name+"/#!/user/reset_password/"+token %>
</p>
<p><%= t('notification.email.reset_password_2') %></p>
<p><%= t('notification.email.reset_password_3') %></p>

<% include ../footer.html.ejs %>