@import '../styles/variables';

section {
  padding: 20px 0;
}

.category {
  padding-right: 16px;
}

.groupImage {
  cursor: pointer;
}

.header {
  color: $primary-color-more-darker;
  cursor: pointer;
  padding-top: 16px;
}

.description {
  padding-top: 32px;
  padding-bottom: 16px;
  color: $primary-color-more-darker;
  line-height: $description-line-height;
}

.separator {
  padding: 16px;
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
}
