@import '../styles/variables';

.action_bar {
  margin-top: 8px;
  padding-bottom: 8px;
  width:100%;
  vertical-align: bottom !important;
}

.action_text {
  font-size: 12px;
  text-align:right;
  position:absolute;
  bottom: 10px;
  padding-bottom: 8px;
}

.action_up {
  color: $primary-up-color-more-lighter;
}

.action_down {
  color: $primary-down-color-more-lighter;
}

.action_bar {

}

paper-icon-button::shadow #icon {
  width: 16px;
  height: 16px;
}