.action_bar {
  margin-top: 16px;
  width: 100%;
  vertical-align: bottom !important; }

.action_text {
  font-size: 12px;
  text-align: right;
  position: absolute;
  bottom: 10px; }

.action_up {
  color: rgba(0, 153, 0, 0.42); }

.action_down {
  color: rgba(153, 0, 0, 0.42); }

paper-icon-button::shadow #icon {
  width: 16px;
  height: 16px; }
