/*
$primary-color: #9E9E9E;
$primary-color-lighter: #E0E0E0;
$primary-color-darker: #616161;
$primary-color-more-darker: #424242;
*/
.action_bar {
  margin-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  vertical-align: bottom !important; }

.action_text {
  font-size: 12px;
  text-align: right;
  position: absolute;
  bottom: 10px;
  padding-bottom: 8px; }

.action_up {
  color: rgba(0, 153, 0, 0.42); }

.action_down {
  color: rgba(153, 0, 0, 0.42); }

paper-icon-button::shadow #icon {
  width: 16px;
  height: 16px; }
