@import '../styles/variables';

section {
  padding: 20px 0;
}

.category {
  padding-right: 16px;
}

.header {
  color: $primary-color-more-darker;
  cursor: pointer;
}

.description {
  padding-top: 8px;
  padding-bottom: 8px;
  color: $primary-color-more-darker;
}

.separator {
  padding: 16px;
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
}

.share {
  color: $accent-color;
}
