/*
$primary-color: #616161;
$primary-color-lighter: #9E9E9E;
$primary-color-darker: #424242;
$primary-color-more-darker: #222222;
*/
/*
$primary-color: #616161;
$primary-color-lighter: #616161;
$primary-color-darker: #222222;
$primary-color-more-darker: #000;
*/
section {
  padding: 20px 0; }

.category {
  padding-right: 16px; }

.header {
  color: #424242;
  cursor: pointer; }

.description {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #424242;
  line-height: 1.3; }

.separator {
  padding: 16px;
  font-size: 14px;
  border-top: 1px solid #e0e0e0; }

.share {
  color: #ff9800; }

.userScreenname {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #e0e0e0; }

.more {
  padding-right: 16px;
  margin-top: 8px; }
