/*
$primary-color: #616161;
$primary-color-lighter: #9E9E9E;
$primary-color-darker: #424242;
$primary-color-more-darker: #222222;
*/
/*
$primary-color: #616161;
$primary-color-lighter: #616161;
$primary-color-darker: #222222;
$primary-color-more-darker: #000;
*/
.filterIcon {
  padding-right: 32px;
  margin-left: 12px;
  margin-bottom: 4px;
  margin-top: 8px;
  background-color: #f7f7f7;
  color: #444; }

.filterIconTransform {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -webkit-filter: FlipV;
          filter: FlipV;
  -ms-filter: "FlipV"; }
