/*
$primary-color: #616161;
$primary-color-lighter: #9E9E9E;
$primary-color-darker: #424242;
$primary-color-more-darker: #222222;
*/
/*
$primary-color: #616161;
$primary-color-lighter: #616161;
$primary-color-darker: #222222;
$primary-color-more-darker: #000;
*/
.small {
  height: 32px;
  margin: 0px;
  width: 32px;
  background-color: #b0b0b0; }

.medium {
  height: 50px;
  width: 50px;
  margin: 0px;
  background-color: #b0b0b0; }
