@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    src: local('Trebuchet MS'), url('https://fonts.cdnfonts.com/s/12558/trebuc.woff') format('woff');
}
@font-face {
    font-family: 'Trebuchet MS';
    font-style: italic;
    font-weight: 400;
    src: local('Trebuchet MS'), url('https://fonts.cdnfonts.com/s/12558/Trebuchet-MS-Italic.woff') format('woff');
}
body {
    font-family: 'Trebuchet MS', 'Roboto', sans-serif, Helvetica, Arial;
    --paper-font-common-code: { font-family: 'Trebuchet MS', 'Roboto', sans-serif; };
    --paper-font-common-base: { font-family: 'Trebuchet MS', 'Roboto', sans-serif; };
    --app-header-font-family: 'Trebuchet MS', 'Roboto', sans-serif;;
    --app-header-font-weight: 400;
    --large-heading-size: 26px;
    --extra-large-heading-size: 28px;
    --group-description-font-size: 16px;
}
:root {
    --paper-font-common-code: { font-family: 'Trebuchet MS', 'Roboto', sans-serif; };
    --paper-font-common-base: { font-family: 'Trebuchet MS', 'Roboto', sans-serif; };
    --app-header-font-family: 'Trebuchet MS';
    --app-header-font-weight: normal;
    --large-heading-size: 26px;
    --extra-large-heading-size: 28px;
    --group-description-font-size: 16px;
}

