@import '../styles/variables';

.point {
  width: 250px;
  padding: 8px;
  margin: 8px;
}

#up_point {
  color: $primary-up-color;
}

#down_point {
  color: $primary-down-color;
}

.pointText {
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px;
  padding-top: 8px;
}

.upPointAction {
  background-color: $primary-up-color;
}

.downPointAction {
  background-color: $primary-down-color;
}

.up_point /deep/ .label-text,
.up_point /deep/ .error {
  /* inline label,  floating label, error message and error icon color when the input is unfocused */
  color: $primary-up-color-lighter;
}

.up_point /deep/ ::-webkit-input-placeholder {
  /* platform specific rules for placeholder text */
  color: $primary-up-color-lighter;
}
.up_point /deep/ ::-moz-placeholder {
  color: $primary-up-color-lighter;
}
.up_point /deep/ :-ms-input-placeholder {
  color: $primary-up-color-lighter;
}

.up_point /deep/ .unfocused-underline {
  /* line color when the input is unfocused */
  background-color: $primary-up-color-lighter;
}

.up_point[focused] /deep/ .floating-label .label-text {
  /* floating label color when the input is focused */
  color: $primary-color-lighter;
}

.up_point /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: $primary-color-lighter;
}

.up_point /deep/ .cursor {
  /* cursor color during the focus transition */
  background-color: $primary-color-lighter;
}

.up_point.invalid[focused] /deep/ .floated-label .label-text,
.up_point[focused] /deep/ .error {
  /* floating label, error message nad error icon color when the input is invalid and focused */
  color: salmon;
}

.up_point.invalid /deep/ .focused-underline,
.up_point.invalid /deep/ .cursor {
  /* line and cursor color when the input is invalid and focused */
  background-color: salmon;
}

.down_point /deep/ .label-text,
.down_point /deep/ .error {
  /* inline label,  floating label, error message and error icon color when the input is unfocused */
  color: $primary-down-color-lighter;
}

.down_point /deep/ ::-webkit-input-placeholder {
  /* platform specific rules for placeholder text */
  color: $primary-down-color-lighter;
}
.down_point /deep/ ::-moz-placeholder {
  color: $primary-down-color-lighter;
}
.down_point /deep/ :-ms-input-placeholder {
  color: $primary-down-color-lighter;
}

.down_point /deep/ .unfocused-underline {
  /* line color when the input is unfocused */
  background-color: $primary-down-color-lighter;
}

.down_point[focused] /deep/ .floating-label .label-text {
  /* floating label color when the input is focused */
  color: $primary-color-lighter;
}

.down_point /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: $primary-color-lighter;
}

.down_point /deep/ .cursor {
  /* cursor color during the focus transition */
  background-color: $primary-color-lighter;
}

.down_point.invalid[focused] /deep/ .floated-label .label-text,
.down_point[focused] /deep/ .error {
  /* floating label, error message nad error icon color when the input is invalid and focused */
  color: salmon;
}

.down_point.invalid /deep/ .focused-underline,
.down_point.invalid /deep/ .cursor {
  /* line and cursor color when the input is invalid and focused */
  background-color: salmon;
}