@import '../styles/variables';

.point {
  width: 250px;
  padding: 8px;
  margin: 8px;
}

#up_point {
  color: $primary-up-color;
}

#down_point {
  color: $primary-down-color;
}

.pointText {
  margin-bottom: 50px;
}