body {
  background: #EEEEEE;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0); }

html /deep/ a {
  text-decoration: none; }

html /deep/ paper-icon-button /deep/ core-icon {
  display: block; }

core-scroll-header-panel {
  height: 100%; }
