section {
  padding: 20px 0; }

.category {
  padding-right: 8px; }

.description {
  padding: 8px;
  padding-bottom: 0px !important; }

.pointUser {
  padding: 0px;
  padding-bottom: 0px;
  color: #9e9e9e; }

.card {
  padding: 16px;
  padding-bottom: 0px !important;
  margin-bottom: 24px; }

.for {
  color: #009900; }

.against {
  color: rgba(153, 0, 0, 0.85); }
