/*
$primary-color: #616161;
$primary-color-lighter: #9E9E9E;
$primary-color-darker: #424242;
$primary-color-more-darker: #222222;
*/
/*
$primary-color: #616161;
$primary-color-lighter: #616161;
$primary-color-darker: #222222;
$primary-color-more-darker: #000;
*/
.category {
  padding-right: 8px; }

.description {
  padding: 8px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px !important;
  line-height: 1.3; }

.pointUser {
  padding: 0px;
  padding-bottom: 0px;
  color: #9e9e9e; }

.card {
  padding: 16px;
  padding-bottom: 0px !important;
  margin-bottom: 24px; }

.for {
  color: #009900; }

.against {
  color: rgba(153, 0, 0, 0.85); }

.name {
  color: #b0b0b0;
  padding-left: 0px; }
