core-scroll-header-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eee; }

/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg {
  background-image: url(header.png); }

/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: #9e9e9e; }

:host /deep/ #selectionBar {
  background-color: #9e9e9e; }

core-toolbar {
  color: #f5f5f5;
  fill: #f5f5f5;
  background-color: transparent; }

.title {
  -webkit-transform-origin: 0;
  transform-origin: 0;
  font-size: 40px; }

.card {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  width: 1000px;
  margin: 16px;
  height: 800px;
  padding: 16px;
  padding-bottom: 50px;
  border-radius: 0%;
  text-align: left;
  vertical-align: top; }
