/*
$primary-color: #9E9E9E;
$primary-color-lighter: #E0E0E0;
$primary-color-darker: #616161;
$primary-color-more-darker: #424242;
*/
#drawerPanel core-header-panel .separator {
  padding: 16px;
  font-size: 14px;
  border-top: 1px solid #e0e0e0; }

.title {
  -webkit-transform-origin: 0;
  transform-origin: 0;
  font-size: 40px; }

.card {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  width: 1000px;
  margin: 8px;
  height: 100% !important;
  padding: 24px 24px 24px 24px;
  border-radius: 0%;
  text-align: left;
  margin-top: 16px;
  vertical-align: top; }

#paper_tabs {
  width: 100%; }

.cardTabs {
  height: 2400px !important;
  padding: 8px 24px 24px 24px;
  margin-top: 8px; }
